body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/8c/6d/c7/8c6dc7fd84c4bcc7a22c4586fa5f664b.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
